@media (max-width:850px) {
    .usercard-width {
        width: 100%;
    }

}

@media (min-width: 720px) {
    .usercard-width {
        width: 45%;
    }

}

.usercard-width {
    border-radius: 5px;
}